<div class="callout" id="black_card">
	<a href="#">Black CSCS Card</a>
	<p>Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui.</p>
	<a href="#" class="link"><img src="/images/static/disc_arrow.png" alt="disc"></a>
</div>