body
{
	font-family:sans-serif;
	font-size:10px;
	background-color:#000000;
}

div.wrapper
{
	margin:auto;
	width:940px;
}

header h1
{
	float:left;
	width:280px;
	background-color:#ffffff;
}

header h1 img
{
	padding:10px;
	padding-top:20px;
}

nav#main_navigation
{
	clear:both;
	padding-top:20px;
}

nav#main_navigation ul li
{
	float:left;
}

nav#main_navigation ul li a
{
	display:block;
	width:154px;
	background-color:#00baf2;
	font-weight:bold;
	text-decoration:none;
	background-image:url(../images/navigation/navshadow.png);
	background-position:bottom;
	background-repeat:repeat-x;
}

nav#main_navigation ul li#home a
{
	border-right:1px solid #386b7b;
}

nav#main_navigation ul li#home a:hover
{
	background-color:#30cfff;
}

nav#main_navigation ul li.current a
{
	background-image:none;
	margin-top:-5px;
}

nav#main_navigation ul li.current a span
{
	padding-top:20px;
}

nav#main_navigation ul li#logistics a
{
	background-color:#d44848;
	border-left:1px solid #df8e8d;
	border-right:1px solid #736049;
}

nav#main_navigation ul li#logistics a:hover
{
	background-color:#eb5757
}

body#logistics div#banners, body#logistics #thumbNav
{
	background-color:#d44848;	
}

nav#main_navigation ul li#security a
{
	background-color:#b0cb2f;
	border-left:1px solid #c8d57f;
	border-right:1px solid #786c4c;
}

nav#main_navigation ul li#security a:hover
{
	background-color:#bfda3f;	
}

body#security div#banners, body#security #thumbNav
{
	background-color:#b0cb2f;
}

nav#main_navigation ul li#construction a
{
	background-color:#fbaf33;
	border-left:1px solid #f9cb7f;
	border-right:1px solid #5a6155;
}

body#construction div#banners, body#construction #thumbNav
{
	background-color:#fbaf33;
}

nav#main_navigation ul li#construction a:hover
{
	background-color:#ffbd51;
}

nav#main_navigation ul li#business-admin a
{
	background-color:#055266;
	border-left:1px solid #66949f;
	border-right:1px solid #384a4e;
}

body#business-admin div#banners, body#business-admin #thumbNav
{
	background-color:#055266;
}

nav#main_navigation ul li#business-admin a:hover
{
	background-color:#147189;
}

nav#main_navigation ul li#customer-service a
{
	background-color:#eb008b;
	border-left:1px solid #cc9598;
}

body#customer-service div#banners, body#customer-service #thumbNav
{
	background-color:#eb008b;
}

nav#main_navigation ul li#customer-service a:hover
{
	background-color:#f924a2;
}

nav#main_navigation ul li a span
{
	display:block;
	padding:20px;
	padding-bottom:13px;
	padding-top:15px;
	font-size:14px;
	color:#ffffff;
	text-shadow:1px 1px 0px #333333;
}

nav#main_navigation ul li.last a
{
	width:160px;
}

div#banners
{
	background-color:#00baf2;
	height:270px;
}

#thumbNav
{
	background-color:#00baf2;
}

#thumbNav a
{
	border-color:#ffffff !important;
}

div#banners.narrow
{
	height:10px;
}

div#banners li
{
	position:relative;
}

div#banners li h2
{
	padding:20px;
	padding-top:10px;
	padding-bottom:10px;
	font-size:28px;
	letter-spacing:-1px;
	font-weight:bold;
	color:#ffffff;
	position:absolute;
	left:0px;
	bottom:50px;
	background-color:rgba(0, 0, 0, 0.75);
	text-shadow:1px 1px 0px #000000;
}

div#banners li p
{
	font-size:14px;
	background-color:rgba(0, 0, 0, 0.75);
	width:200px;
}

section#main_content
{
	margin-top:20px;
	margin-bottom:20px;
	width:610px;
	float:left;
	color:#ffffff;
}

aside#supplementary
{
	margin-top:20px;
	float:right;
	width:310px;
	margin-bottom:20px;
}

aside#supplementary div.callout
{
	padding:20px;
	background-color:#2a2a2a;
	color:#ffffff;
}

aside#supplementary div.callout a
{
	color:#ffffff;
	font-size:24px;
	display:block;
	font-weight:bold;
	letter-spacing:-1px;
	text-decoration:none;
	padding-bottom:10px;
}

aside#supplementary div.callout a.link
{
	position:absolute;
	left:20px;
	bottom:20px;
}

aside#supplementary div.callout
{
	position:relative;
}

aside#supplementary div.callout p
{
	font-size:12px;
	line-height:1.6em;
}

aside#supplementary div#black_card
{
	background-image:url(../images/static/cscs_cards.png);
	background-position:center 90%;
	background-repeat:no-repeat;
	height:250px;
}

.cms_content p
{
	font-size:12px;
	padding-bottom:10px;
	line-height:1.6em;
}

.cms_content h1
{
	font-size:32px;
	letter-spacing:-1px;
	font-weight:bold;
	margin-bottom:15px;
	text-shadow:1px 1px 0px #000000;
	border-bottom:1px solid #00BAF2;
	padding-bottom:5px;
	margin-right:-20px;

}

a
{
	color:#00BAF2;
}

body#logistics .cms_content h1, body#logistics .styled, body#logistics a
{
	border-color:#D44848;
	color:#D44848;
}

body#logistics .cms_content h1
{
	color:#ffffff;
}

body#security .cms_content h1, body#security .styled, body#security a
{
	border-color:#B0CB2F;
	color:#B0CB2F;
}

body#security .cms_content h1
{
	color:#ffffff;
}

body#construction .cms_content h1, body#construction .styled, body#construction a
{
	border-color:#FBAF33;
	color:#FBAF33;
}

body#construction .cms_content h1
{
	color:#ffffff;
}

body#business-admin .cms_content h1, body#business-admin .styled, body#business-admin a
{
	border-color:#055266;
	color:#055266;	
}

body#business-admin .cms_content h1
{
	color:#ffffff;
}

body#customer-service .cms_content h1, body#customer-service .styled, body#customer-service a
{
	border-color:#EB008B;	
	color:#EB008B;		
}

body#customer-service .cms_content h1
{
	color:#ffffff;
}


.cms_content
{
	padding:20px;
	background-color:#2a2a2a;
}

p#breadcrumb
{
	background-color:#2a2a2a;
	padding:10px;
	padding-left:20px;
	margin-bottom:10px;
}

footer
{
	clear:both;
	border-top:1px solid #00baf2;
	padding-top:20px;
}



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}